replay/*
Robot
Robot_gui
test/.DS_Store
test/__pycache__/calcation.cpython-37.pyc
test/__pycache__/config.cpython-37.pyc
test/__pycache__/PID.cpython-37.pyc
test/__pycache__/robot.cpython-37.pyc
test/__pycache__/workbench.cpython-37.pyc
test/__pycache__/halfplaneintersect.cpython-37.pyc
test/__pycache__/pyorca.cpython-37.pyc
*.txt

Robot_gui.exe
Robot.exe
run_demo_without_gui.bat
run_keyboard_demo.bat
run_simple_demo.bat
replayer/CodeCraft_2023_Replay.exe
replayer/CodeCraft_2023_Replay.pck
*.zip
pyorca/*
*.txt
*.pyc
python.py
.DS_Store
.history/*
test/main_test.py
log.txt
log.txt
